.contacts {
  @include font-set(300, 1.6);
  font-size: $fsize-six;
  color: $color-two;
  text-align: center;
  padding: 50px 20px 0;
  position: relative;
}

.contacts__title {
  font-size: $fsize-six;
  margin: 0;
}

.contacts__item-title {
  @include font-set(700, 1.6);
  font-size: $fsize-four;
  display: block;
  margin-top: 35px;
}

.contacts__link,
.contacts__item-text {
  color: $color-five;
}

.contacts__link {
  text-decoration: none;
}

.contacts__link:hover {
  text-decoration: underline;
  color: $color-two;
}

.contacts__link:active {
  text-decoration: none;
  color: rgba(40, 54, 69, 0.3);
}

.contacts__item-text {
  margin-top: 0;
  margin-bottom: 45px;
}

@media (min-width: 660px) {
  .contacts__title {
    @include font-set(300, 1.2);
    font-size: $fsize-eight;
  }

  .contacts__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item-block {
    width: 300px;
  }

  .contacts__item-block:last-child {
    width: 290px;
    margin: $margin;
  }
}

@media (min-width: 960px) {
  .contacts__wrapper {
    width: 960px;
    margin: $margin;
  }

  .contacts__item-block:nth-child(2n) {
    order: 1;
  }

  .contacts__title {
    @include font-set(300, 1.2);
    font-size: $fsize-nine;
  }

  .contacts__items {
    margin-top: 20px;
  }
}
