@media (max-width: 660px) {
  .effect {
    display: none;
  }
}

@media (min-width: 660px) {
  .effect {
    display: flex;
    //justify-content: center;
<<<<<<< HEAD
    margin-left: auto;
    margin-right: auto;
=======
>>>>>>> module6-task1
    box-sizing: border-box;
    padding: 50px 20px;
  }

  .effect__container {
    display: flex;
<<<<<<< HEAD
    margin: 0 auto;
=======
    margin-left: auto;
    margin-right: auto;
>>>>>>> module6-task1
  }

  .effect__left-block {
    display: block;
    background-image: url("../img/time-tablet@1x.png");
<<<<<<< HEAD
    background-repeat: no-repeat;
=======
>>>>>>> module6-task1
    width: 238px;
    height: 276px;
  }

  .effect .wrapper {
    width: 300px;
    margin-right: auto;
    padding-left: 10%;
    text-align: left;
  }

  .effect__title {
    @include font-set(bold, 1.2);
    font-size: $fsize-ten;
    width: 205px;
  }

  .effect__text {
    @include font-set(400, 1.7);
    font-size: $fsize-two;
    color: $color-two;
  }

  .effect__link {
    @include font-set(400, 1.7);
    font-size: $fsize-two;
    color: $color-five;
  }

  .effect__link:hover {
    color: $color-two;
  }

  .effect__link:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

<<<<<<< HEAD
@media (min-width: 660px) and (min-resolution: 144dpi),
  (min-width: 660px) and (min-resolution: 1.5dppx) {
=======
@media (min-width: 660px) and (max-width: 959px) and (min-resolution: 144dpi),
  (min-width: 660px) and (max-width: 959px) and (min-resolution: 1.5dppx) {
>>>>>>> module6-task1
  .effect__left-block {
    background-image: url("../img/time-tablet@2x.png");
    background-repeat: no-repeat;
    background-size: 238px auto;
  }
}

@media (min-width: 960px) {
  .effect {
    background-color: $color-six;
  }

  .effect__container {
    width: 960px;
    display: flex;
    justify-content: space-between;
  }

  .effect__left-block {
<<<<<<< HEAD
=======
    margin-left: 20px;
    padding-right: 20px;
>>>>>>> module6-task1
    background-image: url("../img/time-desktop@1x.png");
    background-repeat: no-repeat;
    width: 298px;
    height: 345px;
  }

  .effect .wrapper {
<<<<<<< HEAD
    width: 570px;
    margin-right: auto;
    padding-left: 5%;
=======
    width: 460px;
    margin-right: 75px;
>>>>>>> module6-task1
    padding-top: 50px;
  }

  .effect__title {
    @include font-set(400, 1);
    font-size: $fsize-ten;
  }

  .effect__text {
    @include font-set(400, 1.6);
    font-size: $fsize-four;
  }

  .effect__link {
    @include font-set(400, 1.6);
    font-size: $fsize-four;
  }
}

<<<<<<< HEAD
@media (min-width: 960px) and (min-resolution: 144dpi),
  (min-width: 960px) and (min-resolution: 1.5dppx) {
=======
@media (min-width: 660px) and (max-width: 959px) and (min-resolution: 144dpi),
  (min-width: 660px) and (max-width: 959px) and (min-resolution: 1.5dppx) {
>>>>>>> module6-task1
  .effect__left-block {
    background-image: url("../img/time-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 298px auto;
  }
}
