@media (max-width: 660px) {
  .effect {
    display: none;
  }
}

@media (min-width: 660px) {
  .effect {
    display: flex;
    //justify-content: center;
    box-sizing: border-box;
    padding: 50px 20px;
  }

  .effect__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .effect__left-block {
    display: block;
    background-image: url("../img/time-tablet@1x.png");
    width: 238px;
    height: 276px;
  }

  .effect .wrapper {
    width: 300px;
    margin-left: 60px;
    text-align: left;
  }

  .effect__title {
    @include font-set(bold, 1.2);
    font-size: $fsize-ten;
    padding-top: 11px;
    margin-bottom: 12px;
  }

  .effect__title span {
    display: block;
  }

  .effect__text {
    @include font-set(400, 1.7);
    font-size: $fsize-two;
    color: $color-two;
    margin: 0;
  }

  .effect__link {
    @include font-set(400, 1.7);
    font-size: $fsize-two;
    color: $color-five;
    display: block;
    margin-top: 13px;
  }

  .effect__link:hover {
    color: $color-two;
  }

  .effect__link:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: 660px) and (max-width: 959px) and (min-resolution: 144dpi),
  (min-width: 660px) and (max-width: 959px) and (min-resolution: 1.5dppx) {
  .effect__left-block {
    background-image: url("../img/time-tablet@2x.png");
    background-repeat: no-repeat;
    background-size: 238px auto;
  }
}

@media (min-width: 960px) {
  .effect {
    background-color: $color-six;
    padding: 23px 10px 65px;
  }

  .effect__container {
    width: 960px;
    margin: $margin;
    display: flex;
    justify-content: space-between;
  }

  .effect__left-block {
    padding-right: 20px;
    background-image: url("../img/time-desktop@1x.png");
    background-repeat: no-repeat;
    width: 298px;
    height: 345px;
  }

  .effect .wrapper {
    width: 520px;
    margin-left: 50px;
    margin-right: auto;
    padding-top: 69px;
  }

  .effect__title {
    @include font-set(700, 1);
    font-size: $fsize-ten;
    width: auto;
    margin-top: 10px;
    margin-bottom: 23px;
  }

  .effect__title span {
    display: inline-block;
  }

  .effect__text {
    @include font-set(400, 1.6);
    font-size: $fsize-four;
    margin-bottom: 35px;
  }

  .effect__link {
    @include font-set(400, 1.6);
    font-size: $fsize-four;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi),
  (min-width: 960px) and (min-resolution: 1.5dppx) {
  .effect__left-block {
    background-image: url("../img/time-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 298px auto;
  }
}
