.intro--index {
  position: relative;
  min-height: 730px;
  padding: 460px 20px 35px 20px;
  box-sizing: border-box;
}

.intro--index::before {
  @include wh(258px, 286px);
  display: block;
  position: absolute;
  top: 105px;
  left: 0;
  content: "";
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

.intro__btn {
  @include font-set(bold, 1);
  font-size: $fsize-four;
  color: $color-one;
  text-align: center;
  display: block;
  width: 280px;
  padding: 20px 0;
  margin: $margin;
  background-color: transparent;
  text-decoration: none;
  border: 3px solid $color-one;
  border-radius: 30px;
  &:hover {
    color: $color-five;
    background-color: $color-one;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: $color-one;
  }
}

.intro__apps {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 210px;
  margin: $margin;
  padding: 40px;
  text-align: center;
}

.intro__apps-item {
  width: 50px;
  height: 55px;
  img {
    width: $w;
  }
}

.intro__description {
  @include font-set(300, 1.7);
  font-size: $fsize-two;
  color: $color-one;
  text-align: center;
  margin: 0;
}

.intro__title {
  @include font-set(300, 1.2);
  font-size: $fsize-six;
  color: $color-one;
  text-align: center;
  padding: 30px 30px;
}

@media (min-width: 660px) {
  .intro--index {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 20px;
  }
  .intro__btn {
    margin: 0;
    width: 265px;
    padding: 15px;
  }
  .intro__apps {
    margin: 0;
  }
  .intro__description {
    width: 280px;
  }
  .intro--index::before {
    @include font-set(300, 1.2);
    font-size: $fsize-eight;
    color: $color-one;
    text-align: center;
    box-sizing: border-box;
    content: "Взгляните на жизнь иначе!";
    display: block;
    position: static;
    background-image: none;
    padding: 0 22px 40px;
    margin: $margin;
    width: $w;
    height: $h;
  }
  .intro__title {
    @include font-set(300, 1.2);
    font-size: $fsize-nine;
  }
}

@media (min-width: 960px) {
  .intro--index {
    width: 960px;
    margin: $margin;
    padding-right: 650px;
  }
  .intro {
    width: 960px;
    margin: $margin;
  }
  .intro::before {
    padding: 0 22px 50px;
  }
  .intro__apps {
    padding: 50px 40px;
  }
}
