.map {
  height: 200px;
  position: relative;
}

.map::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: $w;
  height: 200px;
  margin-left: auto;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.map iframe {
  @include wh ($w, $h);
  border: none;
}

@media (min-width: 660px) {
  .map {
    height: 350px;
  }
}

@media (min-width: 960px) {
  .map {
    width: 960px;
    margin: $margin;
    height: 500px;
  }
}
