.page-footer--hidden {
  display: none;
}

.page-footer {
  padding: 40px 20px 40px;
}

.page-footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  width: 150px;
  height: 40px;
}

.page-footer__logo:hover svg g path {
  fill: $color-five;
}

.page-footer__logo:active svg path {
  fill: rgba(210, 40, 86, 0.3);
}

.page-footer__logo:active svg g path {
  fill: rgba(40, 54, 69, 0.3);
}

.page-footer__social {
  display: flex;
  margin: 40px 0;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(40, 54, 69, 0.2);
  border-radius: 50%;
  margin: 0 10px;
}

.page-footer__social-link:hover {
  border: 3px solid $color-two;
}

.page-footer__social-link:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}

.page-footer__copyright {
  display: flex;
}

.page-footer__copyright-text {
  @include font-set(400, 1.3);
  font-size: $fsize-two;
  color: $color-two;
  margin-right: 15px;
}

.page-footer__copyright-link {
  align-self: center;
  width: 30px;
  height: 35px;
}

.page-footer__copyright-link:hover svg path {
  fill: $color-two;
}

.page-footer__copyright-link:active svg path {
  fill: rgba(40, 54, 69, 0.3);
}

@media (min-width: 660px) {
  .page-footer--hidden {
    display: block;
  }

  .page-footer--hidden .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .page-footer {
    padding: 0;
  }

  .page-footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .page-footer__logo--desktop {
    display: none;
  }

  .page-footer__social-link {
    width: 45px;
    height: 45px;
  }

  .page-footer__social-img {
    height: 15px;
    padding: 15px;
  }
}

@media (min-width: 960px) {
  .page-footer--hidden .wrapper,
  .page-footer .wrapper {
    width: 960px;
    margin: $margin;
    padding: 22px 10px;
    box-sizing: border-box;
  }

  .page-footer__logo--tablet {
    display: none;
  }

  .page-footer__logo--desktop {
    display: block;
  }

  .page-footer__social {
    margin: 38px 0;
  }

  .page-footer__social-link {
    width: 45px;
    height: 45px;
  }

  .page-footer__copyright-text {
    font-size: $fsize-four;
  }
}
