//font variables
$ffamily: "Open Sans", "Arial", "Helvetica", sans-serif;
$fsize-one: 12px;
$fsize-two: 14px;
$fsize-three: 16px;
$fsize-four: 18px;
$fsize-six: 24px;
$fsize-seven: 20px;
$fsize-eight: 40px;
$fsize-nine: 50px;
$fsize-ten: 30px;
$fsize-eleven: 21px;

//color variables
$color-one: #ffffff;
$color-two: #283645;
$color-three: #2aab6d;
$color-four: #1c9b5e;
$color-five: #d22856;
$color-six: #f2f2f2;
$color-seven: #dddfe0;
$color-eight: #b5b9be;
$color-nine: #e5e5e5;
$color-ten: rgba(40, 54, 69, 0.3);
$color-eleven: #7e868f;
$color-twelve: rgba(40, 54, 69, 0.6);
$color-thirteen: #485461;
$color-fourteen: #000000;
$color-fifteen: #fbfbfb;
$color-sixteen: rgba(40, 54, 69, 0.1);

//sizes
$w: 100%;
$h: 100%;
$min-w: 320px;
$max-w: 1920px;
$min-h: 100vh;
$margin: 0 auto;
